<h1>Home#new</h1>
<p>Find me in app/views/home/new.html.erb</p>

<form action="/home/create" method="get">
    제목: <input type='text' name='title'><br>
    내용: <input type='text' name='content'><br>
    <input type='submit' value='submit'>
    
    
</form>