<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>


<hr>
제목 : <%=@post.title %><br>
내용 : <%=@post.content %><br>
<hr>

<form action="/home/gohome" method="get">
    
    <button type='submit'>홈으로</button>
    
</form>